*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titolo{
  text-align: center;
  font-size: 36px;
}

/* parte header */
header{
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: solid 1px black;
}

@media screen and (max-widht: 1200px) {
  .navbar-toggle{
    display: block;
  }
  .navbar-collapse.collapse{
    display: none;
  }
}

header .navbar-default .navbar-nav > li > a {
  color: hsl(221,93%,16%);
}

header .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #0069ff;
}

header .navbar-default {
  margin-top: 20px;
  font-size: 15px;
  border: none;
  background-color: transparent;
}

header .navbar-default .navbar-brand{
  font-size: 27px;
  color: white;
}

header .navbar-default .navbar-brand:hover{
  color: white;
}
#logo{
  height: 30px;
}
header .btn-default{
  margin-top: 8px;
  color: #006aff;
  border-color: #006aff;
  background-color: transparent;
}
header .btn-default:hover{
  background-color: #006aff;
  color: white;
}
.navbar-default .navbar-toggle{
  border: none;
}
#margine{
  margin-right: 5%;;
}
/* parte jumbo */

#jumbo{
  padding-top: 100px;
  background-image: url(../img/jumbo.svg);
}
#jumbo p{
  line-height: 35px;
  margin-top: 30px;
  color: white;
  font-size: 19px;
}
#jumbo h1{
  font-size: 55px;
  margin-top: 50px;
  color: white;
}
.cubo{
  margin-left: 5%;
  width: 90%;
  border: solid 1px white;
  border-radius: 1%;
  background-color: white;
  margin-bottom: 80px;
  margin-top: 80px;
}
.cubo i{
 float: left;
}
#jumbo .cubo h2, h3{
  text-align: center;
}
#jumbo .cubo h2{
  margin-top: 50px;
  color: black;
}
#jumbo .cubo h3{
  font-size: 35px;
  color: #0069ff;
}
#jumbo .cubo input{
  margin-left: 5%;
  width: 90%;
  margin-top: 20px;
}
main .cubo button{
  width: 90%;
  margin-left: 5%;
  color: white;
  background-color: #0069ff;
  margin-top: 10px;
}
main .cubo button:last-of-type{
  margin-bottom: 20px;
  color: #0069ff;
  background-color: white;
  margin-top: 10px;
}
#jumbo .cubo p:last-of-type{
  margin-bottom: 20px;
  margin-left: 10%;
  font-size: 18px;
  color: black;
}

/* parte innovative */
#innovative{
  background-color: #f3f5f9;
}
#innovative p{
  margin-top: 50px;
  text-align: center;
  color: gray;
  font-size: 18px;
}
#innovative a{
  text-align: center;
  color: #0069ff;
}
#innovative img{
  height: 90px;
  margin-top: 20px;
}
#innovative .link{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* parte deploy */
#deploy{
  background-color: white;
  margin-top: 120px;
  margin-bottom: 120px;
}
#deploy .titolo{
  color: #031b4e;
}
#deploy p{
  font-size: 20px;
  color: #5b6987;
  text-align: center;
  line-height: 35px;
}
#deploy ul{
  border-left: solid 1px gray;
  margin-top: 40px;
  list-style: none;
  margin-left: 15%;
}
#deploy li{
  margin-bottom: 20px;
  margin-left: 10px;
}
#deploy li a{
  font-size: 17px;
  color: rgba(3, 27, 78, 0.6)
}
#nestyng p{
  line-height: 25px;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}
#nestyng img{
  margin-top: 10px;
}
#nestyng h2{
  color: #031b4e;
  font-size: 20px;
}

/* parte depelovers */
#developers{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f3f5f9;
}
#developers .titolo{
  color: #031b4e;
}
#developers p{
  font-size: 20px;
  color: #5b6987;
  text-align: center;
}
#developers img{
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.menu{
  text-align: center;
}
.menu button{
  margin: 0 6px;
  background-color: transparent;
  border-radius: 100%;
  padding: 3px;
  border: solid 2px #0069ff;
}
.menu button:hover{
  border: solid 2px #0069ff;
  background-color: #0069ff;
}

/* parte features */
#features{
  background-color: white;
  margin-top: 120px;
  margin-bottom: 120px;
}
#features .titolo{
  color: #031b4e;
}
#features h2{
  color: #031b4e;
  font-size: 20px;
}
#features img{
  margin-top: 30px;
}
#features p{
  font-size: 16px;
  line-height: 25px;
  color: #5b6987;
}
#features a{
  color: #0069ff;
}

/* parte service */
#service{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #031b4e;
  background-image: url(../img/data-center-map.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#service .titolo{
  color: white;
}
#service ul{
  margin-top: 30px;
  list-style: none;
}
#service li{
  margin-top: 15px;
  border-bottom: 1px solid hsla(0,0%,100%,0.2);
}
#service span{
  color: white;
  font-size: 13px;
  width: 80px;
  margin-left: 10px;
}
#service p{
  padding-left: 30px;
  color: white;
  opacity: 0.6;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  margin-left: 0px;
  width: 350px;
}
#service a{
  color: #00d7d2;
}

/* parte development */
#development{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f3f5f9;
}
#development .titolo{
  color: #031b4e;
}
#development .cubo img{
  margin-bottom: 40px;
  height: 40px;
  margin-top: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.paragrafo1 p{
  line-height: 35px;
  font-size: 24px;
  text-align: center;
  color: #5b6987;
}
.paragrafo2 p{
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  color: #5b6987;
}
.paragrafo3 p{
  text-align: center;
  font-size: 12px;
  color: #5b6987;
}

/* parte service */
#started{
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../img/bg-home-cta.svg);
}
#started h1{
  text-align: center;
  color: white;
}
#started input{
  margin-top: 20px;
  color: #0069ff;
  background-color: white;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
}
#started input:hover{
  background-color: #0069ff;
  color: white;
}
#started .centratura{
  text-align: center;
}

/* parte footer */
footer{
  padding-top: 80px;
  padding-bottom: 80px;
}
footer{
  background-color: hsl(220,95%,8%);
}
footer .parte1 p{
  margin-top: 15px;
  color: hsla(0,0%,100%,0.5);
  font-size: 14px;
}
footer .parte1 li{
  margin-right: 10px;
  font-size: 22px;
  display: inline-block;
  list-style: none;
}
footer .parte1 a{
  color: hsla(0,0%,100%,0.5);
}
footer .parte1 a:hover{
  color: white;
}
footer .parte2 h6{
  font-size: 18px;
  color: white;
}
footer .parte2 li{
  margin-top: 5px;
  font-size: 16px;
  list-style: none;
}
footer .parte2 a{
  text-decoration: none;
  color: hsla(0,0%,100%,0.5);
}
footer .parte2 a:hover{
  color: white;
}
